/*---- CROSS BROWSER DROPDOWN MENU ----*/
ul#nav {
  margin: 0;
  height: 100px;
/*  width: 737px;*/
  text-transform: uppercase;
}
ul.drop a { display:block; font-family: Verdana; text-decoration: none; border: none; color: #707070;}
ul.drop a:hover{color: #FFF;}
ul.drop ul a {color: rgb(255, 184, 94);}
ul.drop ul a:hover{color: #FF8888;}
ul.drop ul li a {color: rgb(255, 184, 94);}
ul.drop ul li a:hover{color: #FF8888;}

ul.drop, ul.drop li, ul.drop ul { list-style: none; color: rgb(255, 184, 94); margin: 0; padding: 0; }
ul.drop { z-index: 597;}
ul.drop li
{
  float: left;
  padding: 0px 10px 0px 10px;
  vertical-align: middle;
  height: 100%;
  width: 125px;
  border-width: 0 1px 0 1px;
  border-style: solid;
  border-right-color: #E0E0E0;
  border-left-color: transparent;
  color: #707070;
 }

ul.drop li img
{
width: 40px;
height: 40px;
padding-top: 20px;
padding-left: 40px;
border: none;
}

ul.drop li span
{
  display: block;
  height: 40px;
  padding-top: 40px;
  font-size: 15px;
}

ul.drop li.hover, ul.drop li:hover
{
  position: relative;
  z-index: 599;
  cursor: hand;
  background: #008AD0;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  color: #FFF;
}

ul.drop ul ul { top: -20px; left: 100%; }

/*Level 2 list (dropped list)*/
ul.drop ul
{
  visibility: hidden;
  position: absolute;
  z-index: 598;
  /*background: #FFFFFF;*/
  background: #000000;
  width: 300px;
  text-align: left;
}
ul.drop ul li
{
  float: none;
  vertical-align: bottom;
  position: relative;
  z-index: 599;
  cursor: hand;
/*  background: #008AD0;*/
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  color: #FFF;
  
  height: 40px;
  width: 280px;
  
  border-bottom: 1px solid rgb(106, 191, 214);
  border-right: none;
  border-left: none;
}
ul.drop ul li span
{
  display: block;
  height: 40px;
  padding-top: 20px;
  font-size: 15px;
}

ul.drop li:hover > ul
{
  visibility: visible;
  -webkit-transition: all 1.5s ease-out;
  -moz-transition: all 1.5s ease-out;
  -o-transition: all 1.5s ease-out;
  transition: all 1.5s ease-out;
  background: #008AD0;
  color: #FFFFFF;
}

ul.drop ul li:hover
{
  float: none;
  vertical-align: bottom;
  position: relative;
  z-index: 599;
  cursor: hand;
  background: #00BAB0;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  color: #FFF;
  
  height: 40px;
  width: 280px;
  
  border-bottom: 1px solid rgb(106, 191, 214);
}

/* specific divs */
div.banner
{
width: 950px;
height: 100px;
margin-left: auto;
margin-right: auto;
}

div.banner img
{
float: left;
}

div.navcontent
{
  width: 900px;
  height: 64px;
  /*border: #333333 10px solid;*/
}

div.navigation-container {
  display: block;
  top: 0px;
	position: relative;
	padding-right: 0px;
	width: 737px;
	min-width: 737px;
	height: 100px;
	max-height: 100px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	background: url("icondata/banner.png") no-repeat;
	padding-left: 213px;
}



.listimg
{
width: 40px;
height: 40px;
}

li.listimg img
{
width: 40px;
}

div.header {
/*
background: url(images/header-back.png) repeat-x;
*/
text-align: right;
margin-left: auto;
margin-top: 0px;
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0;
height: 100px;
}

p.headertext
{
  font-size: 2em;
	color: rgb(22, 120, 167);
	text-align: right;
	height: 30px;
	padding-bottom: 0px;
}
